<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>KSY Stock Exchange - Definitely Not Fraudulent</title>
  <link rel="stylesheet" href="/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
</head>
<body>
  <form action="/price">
    <input name="stock" type="text">
    <button class='btn'>Get Stock Price</button>
  </form>
</body>
</html>
