<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>KSY Stock Exchange - Definitely Not Fraudulent</title>
  <link rel="stylesheet" href="/price.css">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
</head>
<body>
  <% if @quote%>
    <h1>ticker: <%=@stockname%></h1>
    <%# <div class ='company-name-logo'> %>
    <h2>company name: <%=@quote.company_name%> </h2>
    <img src="<%=StockQuote::Stock.logo(@stockname).url%>" alt="">

    <h2>live price: <span id="price">$<%=@quote.iex_realtime_price%></span></h2>
  <% else %>
    <h1>Stock not found in exchange</h1>
  <% end %>  

  <form action="/">
    <button class="btn">Home</button>
  </form>
</body>
</html>