<div class="title-add">
  <h1>People currently on board:</h1>
  <a href="riders/new">Someone's Boarding the Tram!</a>
</div>

<% @riders.each do |rider|%>
  <p>
    <a href="/riders/<%=rider.id%>">
      <%=rider.name%>
    </a>
  </p>
<% end %>