<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Passengers on the 64 Tram</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <header>
    <h1>Passengers on the 64 Tram</h1>
  </header>

  <%= yield %>

</body>
</html>