<h3>Add Details for Boarding Passenger</h3>

<form action="/riders" method="post">
  <label for="">Name</label>
  <input name = "name" type="text">
  <label for="">Age</label>
  <input name = "age" type="text">
  <label for="">Boarding at</label>
  <input name = "board-at" type="text">
  <label for="">Aligting at</label>
  <input name = "alight-at" type="text">
  <button>Save</button>
</form>