<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>99 Bottles But A Beer Aint One</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link href="https://fonts.googleapis.com/css?family=Rufina" rel="stylesheet">
</head>
<body id = "grad1">
  <p>
    99 bottles of beer on the wall.
    <a href="/98">Take one down.</a>
  </p>
</body>
</html>